@import "../forms.scss";

.add-recipe {
  margin-top: 160px;
  $this: &;

  &__form {
    @extend .form__aligned;

    #{$this}__title {
      @extend .form__header;
      margin-top: 36px;
    }

    .ingredients {
      &__container {
        margin-bottom: 80px;
      }

      &__header {
        margin: 16px 0;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
      }

      &__item {
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        grid-gap: 16px;
        margin-bottom: 8px;
      }

      &__append {
        position: absolute;
        left: 4px;
        top: 48px;
        bottom: 0;
      }

      &__remove {
        position: absolute;
        right: 4px;
        top: 48px;
        bottom: 0;
      }
    }
  }
}
