@import "../theme.scss";
@import "../breakpoints.scss";
@import "../mixins.scss";

.favourites {
  padding: 24px;
  $this: &;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #{$this}__title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
    }
  }

  #{$this}__empty-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    font-weight: bold;
    font-size: 16px;
  }

  #{$this}__grid {
    top: 16px;
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: 1fr minmax(150px, 1fr);
    grid-gap: 16px;
  }

  @media screen and (min-width: $mobileS) and (max-width: $mobileL) {
    #{$this}__grid {
      grid-template-columns: 1fr;
    }
  }
}
