@import "../theme.scss";
@import "../breakpoints.scss";
@import "../mixins.scss";

.my-recipes {
  padding: 24px;
  $this: &;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #{$this}__title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
    }

    #{$this}__options {
      & > * {
        font-size: 1.2em;
      }

      #add {
        margin: 0 24px;
      }
    }
  }

  #{$this}__empty-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-self: center;

    #{$this}__add-recipe-link {
      text-decoration: underline;
      margin-top: 16px;
      font-size: 14px;
    }
  }

  #{$this}__grid {
    display: grid;
    grid-template-columns: 1fr minmax(150px, 1fr);
    grid-gap: 16px;
    margin: 64px auto;
  }

  @media screen and (min-width: $mobileS) and (max-width: $mobileL) {
    #{$this}__grid {
      grid-template-columns: 1fr;
    }
  }
}
