@import "../mixins.scss";
@import "../theme.scss";

.recipe {
  &__header {
    position: relative;

    &--banner {
      height: 45vh;
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }

    &--back {
      @include action(16px, null, null, 16px);
    }

    &--options {
      @include action(16px, 16px, null, null);
    }

    &--saved {
      @include action(null, 16px, 16px, null);
    }
  }
}
