@import "../theme.scss";

.recipe-recommendation {
  position: relative;
  margin: 8px auto;
  width: calc(100% - 24px);
  height: 70vh;
  border-radius: $borderRadius;
  border: 1px dashed cadetblue;

  &.morning {
    background-color: cornsilk;
    color: peru;
  }

  &.evening {
    background-color: lightcoral;
    color: white;
  }

  &.day {
    background-color: beige;
    color: teal;
  }

  &.night {
    background-color: darkslateblue;
    color: white;
  }

  &__header {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 4vh 16px 16px;
    letter-spacing: 0.3px;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 14px;
    padding: 4px;
    border: 1px solid rosybrown;
    border-radius: 13px;
    width: calc(100% - 108px);
    margin: 8px auto;
  }

  &__preview-image {
    width: calc(100% - 32px);
    object-fit: cover;
    height: 200px;
    margin-top: 16px;
    border-radius: $borderRadius;
  }

  &__description {
    font-family: $secondary-font;
    margin: 8px 16px;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 28px;
    position: relative;

    &::before {
      content: "...";
      position: absolute;
      right: 24px;
      bottom: 0;
    }
  }

  &__secondary-info {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    .secondary__info--time {
      font-family: $secondary-font;
      display: flex;
      flex-direction: row;
      font-size: 12px;

      > p {
        font-family: $secondary-font;
      }

      svg {
        margin-right: 4px;
      }
    }

    .secondary__info--cost {
      font-family: $secondary-font;
      font-size: 12px;
    }
  }

  &__night-header {
    @extend .recipe-recommendation__header;
    font-weight: 100;
  }

  &__night-banner {
    width: 200px;
    height: 200px;
    margin-top: 24px;
  }

  &__banner {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 16px;
    bottom: 16px;
  }

  &:hover {
    box-shadow: $boxShadow;
  }
}
