@import "../theme.scss";
@import "../breakpoints.scss";

.recipe-recommendation {
  position: relative;
  margin: 24px 8px 64px;
  height: 500px;
  border-radius: $borderRadius;
  border: 1px solid cadetblue;

  &.morning {
    background-color: cornsilk;
    color: peru;
  }

  &.evening {
    background-color: lightcoral;
    color: white;
  }

  &.day {
    background-color: beige;
    color: teal;
  }

  &.night {
    background-color: darkslateblue;
    color: white;
  }

  &__title {
    font-size: 18px;
    font-weight: bolder;
    margin: 36px 0 16px 0;
  }

  &__preview-image {
    width: calc(100% - 32px);
    object-fit: cover;
    height: 200px;
    margin: 16px 0 24px 0;
    border-radius: $borderRadius;

    @media screen and (max-width: $mobileS) {
      margin: 16px 0;
    }
  }

  &__description {
    font-family: $secondary-font;
    margin: 8px 16px;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    max-height: 56px;
  }

  &__secondary-info {
    margin: 24px 0 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    @media screen and (max-width: $mobileS) {
      margin: 16px 0;
    }

    .secondary__info--time {
      font-family: $secondary-font;
      display: flex;
      flex-direction: row;
      font-size: 12px;

      > p {
        font-family: $secondary-font;
      }

      span {
        margin-right: 4px;
      }
    }

    .secondary__info--cost {
      font-family: $secondary-font;
      font-size: 12px;
    }
  }

  &__night-header {
    @extend .recipe-recommendation__title !optional;
    font-weight: 100;
  }

  &__night-banner {
    width: 200px;
    height: 200px;
    margin-top: 24px;
  }

  &__banner {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 16px;
    bottom: 16px;
  }

  &:hover {
    box-shadow: $boxShadow;
  }
}
