@import "./theme.scss";

.form__header {
  font-size: 24px;
  color: currentColor;
  font-weight: bold;
  margin-bottom: 16px;
}

.form__input {
  margin-bottom: 4px;
}

.form__centered {
  display: grid;
  grid-gap: 24px;
  place-items: center;
  width: calc(100% - 32px);
  padding: 0 16px;

  & > * {
    width: 100%;
  }
}

.form__select {
  @extend .form__input;
}
