@import "./theme.scss";

.form__header {
  font-size: 24px;
  color: currentColor;
  font-weight: bold;
  margin-bottom: 16px;
}

.form__input {
  margin-bottom: 4px;
}

.form__centered {
  display: grid;
  grid-gap: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 32px);
  padding: 0 16px;
}

.form__select {
  @extend .form__input;
}

.form__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 16px;
  overflow: hidden;

  & > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
  }

  & > label {
    width: 105px;
    height: 18px;
    padding-top: 8px;
    display: inline-block;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    cursor: pointer;
    user-select: none;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 16px;

    input[type="file"] {
      border: none;
      visibility: hidden;
    }
  }
}
