@import "./theme.scss";

.recipes__grid {
  margin: 1.5em auto;
  max-width: 768px;
  column-gap: 1.5em;
  column-count: 2;
  padding: 0 16px;
}

.recipes__preview {
  background-color: olivedrab;
  padding-top: 1em;
  margin: 0 0 1.5em;
  border-radius: $borderRadius;
  position: relative;
  height: 200px;
  cursor: pointer;

  &:hover .recipes__info {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s, visibility 0.7s ease-out;
  }
}

.recipes__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  width: calc(100% - 32px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $infoBlock;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s ease-out;

  &--header {
    font-size: 14px;
    color: $textPrimary;
    margin-bottom: 4px;
  }

  &--description {
    font-size: 12px;
    color: $textSecondary;
  }
}
