/* typography */
$primary-font: "Avenir", Helvetica, Arial, sans-serif;
$monospace-font: "monospace";
$textPrimary: #141b22;
$textSecondary: #a09e9e;
$textError: #d9271a;
$textWhite: #f7f4eb;
$black: #000000;

/* border styles */
$borderColor: $textError;
$borderError: $textError;
$borderRed: $textError;
$borderRadius: 10px;
$borderBoxShadow: 2px 3px 5px 0px $black;

/* backgrounds */
$whiteBg: $textWhite;

/* info colors */
$infoBlock: #ffffffd5;
